<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IRampComposer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
    <userSettings>
        <IRampComposer.My.MySettings>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="FName" serializeAs="String">
                <value />
            </setting>
            <setting name="LName" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivationKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="UIMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Expires" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent1" serializeAs="String">
                <value>Sample Folder Import</value>
            </setting>
            <setting name="Recent2" serializeAs="String">
                <value>Legal Contract</value>
            </setting>
            <setting name="Recent3" serializeAs="String">
                <value>Something Else</value>
            </setting>
            <setting name="Recent4" serializeAs="String">
                <value>And more</value>
            </setting>
            <setting name="Recent5" serializeAs="String">
                <value />
            </setting>
            <setting name="Path1" serializeAs="String">
                <value />
            </setting>
            <setting name="Path2" serializeAs="String">
                <value />
            </setting>
            <setting name="Path3" serializeAs="String">
                <value />
            </setting>
            <setting name="Path4" serializeAs="String">
                <value />
            </setting>
            <setting name="Path5" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value>C:\Program Files (x86)\ImageRamp8\OutFiles</value>
            </setting>
            <setting name="DocTypeFile" serializeAs="String">
                <value />
            </setting>
        </IRampComposer.My.MySettings>
    </userSettings>
  <appSettings>
    <add key="GlyntAPIUrl" value="https://api.glynt.ai/v6/" />
    <add key="GlyntUsername" value="glynt@p3idtech.com" />
    <add key="GlyntPassword" value="Securescan1!!!" />
    <add key="FileStackAPIUrl" value="https://www.filestackapi.com/api/file" />
    <add key="FSUsername" value="dwilson@docufi.com" />
    <add key="FSPassword" value="st@cK126" />
    <add key="IRampAIAPIKey" value="4688d58b8f43f227278c8824e781cf76931587a7" />
    <add key="IRampAIAPIUrl" value="https://api-app.xtracta.com/v1/" />
    <add key="IRampAIUsername" value="dwilson@docufi.com" />
    <add key="IRampAIPassword" value="p4xcYp5$zcIf1juhP(Ev#hrl" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
